.canvas-sidebar{
    position: sticky;
    height: 100vh;
    width: 50px;
}

.canvas-main{
    flex: 1;
}
.canvas-wrapper{
    position: relative;
}

.canvas-wrapper canvas{
    top: 0;
    left: 0;
    position: absolute;
    outline: none;
}

.canvas-controller{
    position: relative;
}

.canvas-controller-btn{
    display: flex;
    height: auto;
}

.onionskins-controller{
    display: flex;
}